html, body {
  font-family: "Architects Daughter", sans-serif;
  text-align: center;
  min-width: 100%;
  margin: 0;
}

#page {
  display: flex column;
  width: 70%;
  margin: 0 auto;
}

.app {
  position: relative;
  display: flex;
}

/*Title icon*/
#title-icon {
  border: thin dotted black;
  border-radius: 100%;
  display: inline-block;
  font-size: 2.5vw;
  padding: 2%;
  margin: 1%;
  font-family: Arial italic;
}

.metacontentblock {
  display: flex;
  justify-content: center;
}

.classselector {
  display: flex;
  justify-content: center;
}

.classbutton {
  opacity: 0.3;
  margin: 10px;
  padding: 3px;
  background: #f7f9fc;
  border-radius: 5px;

}

.classbuttonimage {
  border-radius: 100%;
}

.classbutton > p {
  margin-bottom: 2px;
  margin-top: 6px;
}

.selected {
  opacity: 1;
  border-right: thin solid gray;
  border-bottom: thin solid gray;

}

.classbuttonimage {
  background-size: cover;
  width: 50px;
  height: 50px;

}

.conitem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conitem > p {
  margin: 4 px;
}

.checklist-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checklist-display > div {
  margin-left: 4%;
  margin-right: 4%;
  min-width: 23%;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin-left: 12px;
}
