
html, body {
  font-family: Arial italic;
  text-align: center;
  min-width: 100%;
  margin: 0;
  color: #505359;
}

#page {
  display: flex column;
  width: 90%;
  margin: 0 auto;
}

.app {
  position: relative;
  display: flex;
}

/*Title icon*/
#title-icon {
  /*border: thin dotted black;
  border-radius: 100%;*/
  display: inline-block;
  font-size: 2.5vw;
  margin: 2px;
  /*padding: 2%;
  margin: 1%;*/
  font-family: "Lucida Console", Monaco, monospace;
}

.metacontentblock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.classselector, .instanceselector {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.classbutton {
  opacity: 0.3;
  margin: 10px;
  padding: 3px;
  background: #f7f9fc;
  border-radius: 5px;
  max-height: 75px;
}

.classbuttonimage {
  border-radius: 100%;
  margin: 0 auto;
}

.classbutton > p {
  margin-bottom: 2px;
  margin-top: 6px;
}

.selected {
  opacity: 1;
  border-right: thin solid gray;
  border-bottom: thin solid gray;

}

.classbuttonimage {
  background-size: cover;
  width: 50px;
  height: 50px;

}

.conitem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conitem > p {
  margin: 4 px;
}

.checklist-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checklist-display > div {
  margin-left: 4%;
  margin-right: 4%;
}

.checklist-text {
  margin-left: 2px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin-left: 12px;
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .metacontentblock {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
    .classselector {
      order: 1;
      flex-wrap: wrap;
      min-width: 12%;
      justify-content: center;
    }
    .selected {
      box-shadow: 10px 5px 5px #505359;
    }
    .instanceselector {
      order: 3;
      flex-shrink: 1;
      justify-content: center;
    }
    .checklist-display {
      order: 2;
      flex-grow: 6;
      max-width: 90%;
    }
}
